In [6]:
import pandas as pd
import altair as alt
import numpy as np
import math
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from itertools import combinations

# Regression

This is the notebook that will be used to aggregate all our metrics and perform regression on. Afterwards, we create a simple visualization that summarizes our results.

#### Dependencies:

This project was done on Jupyter notebook hosted locally, and used python and library (not available by default) versions as below:<br>

Python 3.10.4<br>

altair==5.0.0<br>
pandas==2.0.1<br>
numpy==1.24.3<br>
statsmodels==0.14.0<br>
scikit-learn==1.2.2<br>z
itertools==3.10.4<br>

In [2]:
%load_ext nb_black

In [3]:
# Reading in each country's top ELO rating
elo_rating = pd.read_csv("OUTPUTFILE/top_elo_data.csv")
elo_rating = elo_rating.groupby("country_name", as_index=False)["elo"].max()
elo_rating.head(5)

  country_name   elo
0      Albania  1284
1      Algeria  1537
2       Angola  1512
3    Argentina  1709
4      Armenia  1267

In [4]:
# Reading in the average of top 25 MV domestic clubs per country
top_mv_domestic_club = pd.read_csv("OUTPUTFILE/avg_league_val_by_country.csv")
top_mv_domestic_club = top_mv_domestic_club.drop(columns=["Unnamed: 0"])
top_mv_domestic_club.head(5)

              country_name  market_val
0              Afghanistan       400.0
1                  Albania   2174800.0
2                  Algeria   3694200.0
3           American Samoa         0.0
4  American Virgin Islands      3750.0

In [5]:
# Reading in the World Cup results from 2018 and 2022
wc_results = pd.read_csv("OUTPUTFILE/world_cup_result.csv")
wc_results = wc_results.drop(columns=["Unnamed: 0"])
wc_results.head(5)

  country_name  power_rating
0    Argentina      0.750000
1    Australia      0.437500
2      Belgium      0.656250
3       Brazil      0.828125
4     Cameroon      0.218750

In [6]:
# Reading in the ratio of MV for players who play abroad vs at home
foreign_domestic = pd.read_csv("OUTPUTFILE/foreign_player_national_teams_agg.csv")
foreign_domestic = foreign_domestic.drop(columns=["Unnamed: 0"])

foreign_domestic["avg_mv_diff"] = np.nan_to_num(
    foreign_domestic["mv_play_dom"] / foreign_domestic["num_play_dom"], nan=0
) - np.nan_to_num(
    foreign_domestic["mv_play_int"] / foreign_domestic["num_play_int"], nan=0
)

# Let's get rid of any entries that have ratio of 0
foreign_domestic = foreign_domestic[foreign_domestic.dom_int_mv_ratio != 0]
foreign_domestic.head(5)

,country_name,mv_play_dom,num_play_dom,mv_play_int,num_play_int,dom_int_mv_ratio,avg_mv_diff
0,Australia,6300000.0,8.0,32950000.0,15.0,0.358498,-1.409167e+06
1,Belgium,33500000.0,5.0,334200000.0,19.0,0.380910,-1.088947e+07
2,Brazil,73000000.0,6.0,837500000.0,17.0,0.246965,-3.709804e+07
4,Canada,7250000.0,4.0,31825000.0,19.0,1.082090,1.375000e+05
5,Colombia,7700000.0,5.0,221000000.0,19.0,0.132398,-1.009158e+07

In [7]:
secondary_ind = pd.read_csv("OUTPUTFILE/SECONDARY_INDICATORS_AGG.csv")

secondary_ind = secondary_ind.drop(columns=["mv_usd", "power_rating"])

secondary_ind.head(5)

     country_name       gdp_usd   bmi  life_exp  qol
0     Afghanistan  1.478686e+10  22.3    61.982   37
1         Albania  1.825579e+10  27.0    76.463   54
2         Algeria  1.630444e+11  24.7    76.377   51
3  American Samoa  7.090000e+08   0.0     0.000    0
4         Andorra  3.330282e+09  27.6     0.000    0

In [8]:
wc_results_m = (
    wc_results.merge(foreign_domestic, on=["country_name"], how="left")
    .merge(top_mv_domestic_club, on=["country_name"], how="left")
    .merge(elo_rating, on=["country_name"], how="left")
    .merge(secondary_ind, on=["country_name"], how="left")
)

# Merged all the sources, drop na
wc_results_m = wc_results_m.dropna()

# log-scale the market value to reduce skew
wc_results_m["market_val"] = np.log(wc_results_m["market_val"].astype(float))

# Getting rid of Panama
wc_results_m = wc_results_m[wc_results_m.qol != 0]

wc_results_m.head(10)

,country_name,power_rating,mv_play_dom,num_play_dom,mv_play_int,num_play_int,dom_int_mv_ratio,avg_mv_diff,market_val,elo,gdp_usd,bmi,life_exp,qol
1,Australia,0.437500,6300000.0,8.0,32950000.0,15.0,0.358498,-1.409167e+06,15.129019,1424,1.552667e+12,27.8,83.300000,75.0
2,Belgium,0.656250,33500000.0,5.0,334200000.0,19.0,0.380910,-1.088947e+07,17.483616,1619,5.941042e+11,27.0,81.890244,63.0
3,Brazil,0.828125,73000000.0,6.0,837500000.0,17.0,0.246965,-3.709804e+07,17.894850,1823,1.608981e+12,26.3,72.750000,48.0
5,Canada,0.031250,7250000.0,4.0,31825000.0,19.0,1.082090,1.375000e+05,15.533839,1379,1.988336e+12,27.6,82.596610,68.0
6,Colombia,0.375000,7700000.0,5.0,221000000.0,19.0,0.132398,-1.009158e+07,16.091957,1675,3.144641e+11,25.8,72.830000,45.0
7,Costa Rica,0.156250,4000000.0,16.0,6750000.0,7.0,0.259259,-7.142857e+05,14.447846,1534,6.428244e+10,26.8,77.023000,57.0
8,Croatia,0.921875,49800000.0,5.0,216800000.0,17.0,0.780996,-2.792941e+06,16.367266,1663,6.895508e+10,28.4,76.424390,64.0
9,Denmark,0.437500,9000000.0,3.0,379700000.0,22.0,0.173821,-1.425909e+07,16.292385,1574,3.983033e+11,26.5,81.404878,67.0
10,Ecuador,0.250000,5500000.0,5.0,161800000.0,19.0,0.129172,-7.415789e+06,15.736982,1689,1.061659e+11,26.5,73.670000,53.0
13,France,1.000000,204000000.0,3.0,944000000.0,20.0,1.440678,2.080000e+07,18.744863,1794,2.957880e+12,26.3,82.324390,68.0

In [9]:
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

wc_results_m_num = wc_results_m.copy().drop(
    columns=[
        "country_name",
        # "mv_play_dom"
        #         ,"num_play_dom"
        #         ,"mv_play_int"
        #         ,"num_play_int"
    ]
)

wc_results_m_num_norm = pd.DataFrame(
    scaler.fit_transform(wc_results_m_num), columns=wc_results_m_num.columns
)

reg = smf.ols(
    formula="power_rating ~ market_val + mv_play_int + mv_play_dom + elo + qol + gdp_usd + life_exp",
    data=wc_results_m_num_norm,
).fit()

print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           power_rating   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.534
Method:                 Least Squares   F-statistic:                     5.094
Date:                Tue, 20 Jun 2023   Prob (F-statistic):            0.00250
Time:                        16:28:14   Log-Likelihood:                -22.694
No. Observations:                  26   AIC:                             61.39
Df Residuals:                      18   BIC:                             71.45
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    5.546e-17      0.137   4.06e-16      1.000      -0.287       0.287
market_val      0.7253      0.371      1.955      0.066      -0.054       1.505
mv_play_int     0.2456      0.204      1.207      0.243      -0.182       0.673
mv_play_dom    -0.7124      0.292     -2.436      0.025      -1.327      -0.098
elo             0.3530      0.336      1.050      0.308      -0.354       1.060
qol             0.7562      0.336      2.250      0.037       0.050       1.462
gdp_usd        -0.2634      0.187     -1.412      0.175      -0.655       0.129
life_exp       -0.4854      0.328     -1.481      0.156      -1.174       0.203
==============================================================================
Omnibus:                        0.546   Durbin-Watson:                   2.063
Prob(Omnibus):                  0.761   Jarque-Bera (JB):                0.027
Skew:                          -0.009   Prob(JB):                        0.987
Kurtosis:                       3.157   Cond. No.                         6.96
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
# reg.params
reg_df = pd.DataFrame(
    {
        "coef_name": reg.pvalues.index,
        "coef_value": reg.params.values,
        "coef_pvalue": reg.pvalues.values,
    }
)

reg_df = reg_df.melt(id_vars=["coef_name"]).rename(columns={"variable": "value_name"})

reg_df.head(5)

     coef_name  value_name         value
0    Intercept  coef_value  5.545885e-17
1   market_val  coef_value  7.252902e-01
2  mv_play_int  coef_value  2.455860e-01
3  mv_play_dom  coef_value -7.123638e-01
4          elo  coef_value  3.529987e-01

In [11]:

chart = (
    alt.Chart(
        reg_df,
        title=alt.Title(
            'Regression: Coefficients & P-values for metrics',
            subtitle=' ',
        ),
    )
    .mark_bar(size=11)
    .encode(
        x=alt.X(
            "value_name:N",
            axis=alt.Axis(ticks=False, labelPadding=10)
        ).title(""),
        y=alt.Y(
            "sum(value):Q",
            axis=alt.Axis(ticks=False, labels=True),
            scale=alt.Scale(domain=[-1,1]),
        ).title(""),
        color=alt.Color("value_name:N", legend=None),
        column = alt.Column('coef_name:N', title=None)
    )
).properties(width=50, height=100)
    
chart.configure_title(fontSize=14, anchor="middle").configure_axis(
    grid=True, domain=False
)

alt.Chart(...)

<font size='4'>This runs all possible combinations of variables for Linear Regression to find the best ones for each number of varaibles<font>

In [7]:
# Get all data in DataFrames
wc_result = pd.read_csv('OUTPUTFILE/world_cup_result.csv').drop(columns=['Unnamed: 0'])
elo = pd.read_csv('OUTPUTFILE/top_elo_data.csv')
secondary = pd.read_csv('OUTPUTFILE/SECONDARY_INDICATORS_AGG.csv').drop(columns=['power_rating'])
value = pd.read_csv('OUTPUTFILE/avg_league_val_by_country.csv').drop(columns=['Unnamed: 0'])
foreign = pd.read_csv('OUTPUTFILE/foreign_player_national_teams_agg.csv').drop(columns=['Unnamed: 0'])

In [8]:
# Merge all DataFrames
final_df = pd.merge(pd.merge(pd.merge(pd.merge(wc_result, elo,on='country_name'), secondary, on='country_name'), value, on='country_name'), foreign, on='country_name')

In [9]:
# Build all Combinations
choices = ['elo', 'gdp_usd','mv_usd','bmi','life_exp','qol','market_val','mv_play_dom','num_play_dom','mv_play_int','num_play_int','dom_int_mv_ratio']
list_combinations = []

for n in range(1, len(choices) + 1):
    list_combinations += list(combinations(choices, n))

final_list = []
for option in list_combinations:
    final_list.append(list(option))

In [10]:
# Use Linear Regression to regression on all combinations
lists = []
for combo in final_list:
    X = final_df[combo]
    y = final_df['power_rating']
    regr = LinearRegression()
    regr.fit(X,y)

    r_2 = regr.score(X,y)
    lists.append([combo, float(r_2)])
df = pd.DataFrame(lists, columns=['combo', 'r_2'])
df['3'] = df.apply(lambda x : len(x['combo']), axis=1)
df = df.sort_values(by='r_2', ascending=False)

In [11]:
# Take best results and print results
df = df.groupby(by=['3']).first().reset_index()
last = 0
for index, item in df.iterrows():
    print(f"{item['r_2']},  Difference: {round(item['r_2'] - last, 4)},   {item['combo']}")
    last = item['r_2']

0.4227924312440102,  Difference: 0.4228,   ['mv_play_int']
0.5482762693739822,  Difference: 0.1255,   ['qol', 'mv_play_int']
0.5767609287910678,  Difference: 0.0285,   ['elo', 'qol', 'mv_play_int']
0.6224074025706908,  Difference: 0.0456,   ['elo', 'mv_usd', 'market_val', 'mv_play_dom']
0.6632644643065269,  Difference: 0.0409,   ['elo', 'mv_usd', 'qol', 'market_val', 'mv_play_dom']
0.6735830896906242,  Difference: 0.0103,   ['elo', 'gdp_usd', 'mv_usd', 'qol', 'market_val', 'mv_play_dom']
0.6763479180721002,  Difference: 0.0028,   ['elo', 'gdp_usd', 'mv_usd', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom']
0.6776947319753828,  Difference: 0.0013,   ['elo', 'gdp_usd', 'mv_usd', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom', 'num_play_int']
0.6783507265887705,  Difference: 0.0007,   ['elo', 'gdp_usd', 'mv_usd', 'bmi', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom', 'num_play_int']
0.6792013210637374,  Difference: 0.0009,   ['elo', 'gdp_usd', 'mv_usd', 'bmi', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom', 'num_play_int', 'dom_int_mv_ratio']
0.6793292020730597,  Difference: 0.0001,   ['elo', 'gdp_usd', 'mv_usd', 'bmi', 'life_exp', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom', 'num_play_int', 'dom_int_mv_ratio']
0.679332397101567,  Difference: 0.0,   ['elo', 'gdp_usd', 'mv_usd', 'bmi', 'life_exp', 'qol', 'market_val', 'mv_play_dom', 'num_play_dom', 'mv_play_int', 'num_play_int', 'dom_int_mv_ratio']